@model BillBoardsManagement.Models.CstomerDetilPageList
@{
    ViewBag.Title = "Index";
    string brandquery = Request.QueryString["brand"];
    var request = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Content("~");

}
<style type="text/css">
    .con-body {
        float: left;
        width: 100%;
    }

    .con-header {
        float: left;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.15);
        background-color: #f6f8f9;
        color: #636c70;
    }
</style>

<main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        </li>
        <li class="breadcrumb-item active">Customer</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu">
            <div class="btn-group" role="group">
                <a class="btn btn-primary" href="@Url.Action("Edit")"><i class="icon-plus"></i> Add new Customer</a>
            </div>
            <div class="btn-group" role="group">
                <a class="btn btn-primary" href="@Url.Action("UploadExcel")"><i class="icon-plus"></i> Upload Excel File</a>
            </div>
        </li>
    </ol>
    @using (Html.BeginForm("SubmitDetail", "Customer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        @Html.HiddenFor(x => x.Brand, new { value = Model.Brand })
        @*@Html.HiddenFor(x => x.Billid, new { value = Model.Billid })*@
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <table style="width:100%">
                        <tr>
                            <td>
                                <div class="input-group global-search" style="float:left; max-width:50%">
                                    <input type="text" name="global-search" class="form-control" id="search" placeholder="Search" value="@ViewBag.searchQuery">
                                    <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </div>
                            </td>
                            @if (!string.IsNullOrEmpty(Model.BillPath))
                            {
                                <td>
                                    <div class="" style="margin-right:15px;">
                                        <a href="@(request + Model.BillPath.Replace("~/", ""))" target="_blank">View Bill</a>
                                    </div>
                                </td>
                            }
                            @if (!string.IsNullOrEmpty(Model.AmmementBillPath))
                            {
                                <td>
                                    <div class="" style="margin-right:15px;">
                                        <a href="@(request + Model.AmmementBillPath.Replace("~/", ""))" target="_blank">View Ammement Bill</a>
                                    </div>
                                </td>
                            }
                        </tr>
                    </table>
                </div>
                <div class="card">
                    <div class="card-block">
                        <div class="form-group col-sm-12">
                            <label for="name" style="float: left;margin-right: 1%;">Brand.</label>
                            <span><b>@brandquery</b></span>

                        </div>
                        <table>
                            <tr>
                                <td><label for="name" style="float: left;margin-right: 1%;">Bill Id.</label></td>
                                <td>@Html.TextBoxFor(x => x.Billid, new { @style = "margin-left:10%" })</td>

                                <td><label for="name" style="float: left;margin-right: 1%;">Bill Date.</label></td>
                                <td>@Html.TextBoxFor(x => x.BillDate, "{0:dd/MM/yyyy}", new { @style = "margin-left:13%" })</td>
                            </tr>
                            <tr>
                                <td>Address 1</td>
                                <td>Address 2</td>
                                <td>Address 3</td>
                                <td>Address 4</td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.TextAreaFor(x => x.BrandAddress, new { @cols = 40, @rows = 3 })
                                </td>

                                <td>
                                    @Html.TextAreaFor(x => x.BrandAddress1, new { @cols = 40, @rows = 3 })
                                </td>
                                <td>
                                    @Html.TextAreaFor(x => x.BrandAddress2, new { @cols = 40, @rows = 3 })
                                </td>
                                <td>
                                    @Html.TextAreaFor(x => x.BrandAddress3, new { @cols = 40, @rows = 3 })
                                </td>
                            </tr>
                            <tr>

                                <td><label for="name" style="float: left;margin-right: 1%;">Traking Number.</label></td>
                                <td>
                                    @Html.TextBoxFor(x => x.TrakingNumber, new { @style = "margin-left:8%" })
                                </td>
                                <td><label for="name" style="float: left;margin-right: 1%;">ShippingDate.</label></td>
                                <td>@Html.TextBoxFor(x => x.ShippingDate, "{0:dd/MM/yyyy}", new { @style = "margin-left:8%" })</td>
                            </tr>
                            <tr>
                                <td><label for="name" style="float: left;margin-right: 1%;">Number Of Month.</label></td>
                                <td>@Html.TextBoxFor(x => x.NumberMonth, new { @style = "margin-left:8%" })</td>

                                <td><label for="name" style="float: left;">Is Brand.</label></td>
                                <td>@Html.CheckBoxFor(x => x.IsBrand, new { @style = "margin-left:8%" })</td>

                            </tr>
                            <tr>
                                <td>
                                    <label for="name" style="float: left;">Bill Amount Generated.</label>
                                </td>
                                <td>
                                    <span style="margin-left:8%"><b>@Model.billamountgenerated</b></span>
                                </td>
                                <td>
                                    <label for="name" style="float: left;">Contact Person Name.</label>
                                </td>
                                <td>   @Html.TextBoxFor(x => x.ContactPersonName, new { @style = "margin-left:8%" })</td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="name" style="float: left;">Contact Person Designation.</label>
                                </td>
                                <td>
                                    @Html.TextBoxFor(x => x.ContactPersonDesignation, new { @style = "margin-left:8%" })
                                </td>

                                <td>
                                    <label for="name" style="float: left;">Contact Person Mobile.</label>
                                </td>
                                <td>    @Html.TextBoxFor(x => x.ContactPersonMobile, new { @style = "margin-left:8%" })</td>
                            </tr>
                            <tr>

                                <td>
                                    <label for="name" style="float: left;">Contact Person Name.</label>
                                </td>
                                <td>
                                    @Html.TextBoxFor(x => x.ContactPersonName1, new { @style = "margin-left:8%" })
                                </td>

                                <td>
                                    <label for="name" style="float: left;margin-right: 1%;">Contact Person Designation.</label>
                                </td>
                                <td>      @Html.TextBoxFor(x => x.ContactPersonDesignation1, new { @style = "margin-left:8%" })</td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="name" style="float: left;margin-right: 1%;">Contact Person Mobile.</label>
                                </td>
                                <td>
                                    @Html.TextBoxFor(x => x.ContactPersonMobile1, new { @style = "margin-left:8%" })
                                </td>
                                <td>
                                    <label for="name" style="float: left;margin-right: 1%;">Bill Amount Paid.</label>
                                </td>
                                <td>      @Html.TextBoxFor(x => x.billamountpaid, new { @style = "margin-left:8%" })</td>
                            </tr>

                            <tr>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                     @Html.CheckBoxFor(x => x.discountcheck, new { @style = "float:left; margin:5px", @onchange="changecheck(this)" })
                                    <label for="name" style="float: left;margin-right: 1%;">Discount.</label>
                                </td>
                                <td>      
                                @{ string disabled = Model.discountamountpaid > 0 ? "" : "disabled";}
                                @Html.TextBoxFor(x => x.discountamountpaid, new { @style = "margin-left:8%",disabled })</td>
                            </tr>

                        </table>


                    </div>

                    <div class="card-block">
                        <div class="form-group">
                            <button type="submit" class="btn btn-sm btn-primary pull-right" name="updatebutton" value="update"><i class="fa fa-dot-circle-o"></i> Update shipping details</button>

                        </div>
                    </div>

                </div>
                @*<div class="input-group global-search">
                        @Html.DropDownList( "Books", (List<SelectListItem>)ViewBag.booksdd, new { @style = "margin-left:10px",@class="form-control", @onchange="onPageClick(1)",@id="Books" })
                    </div>*@
                @for (int i = 0; i < Model.CustomerDetailList.Count(); i++)
                {
                    @Html.HiddenFor(x => x.CustomerDetailList[i].CustomerName)
                    @Html.HiddenFor(x => x.CustomerDetailList[i].CustomerId)

                    <div style="width: 100%; margin-top: 10px;">
                        <div class="con-header">
                            <h6 style="padding: 10px; cursor: pointer; float: left " onclick="onNameClick(this)">@Model.CustomerDetailList[i].CustomerName</h6>
                            @Html.CheckBoxFor(x => x.CustomerDetailList[i].Selected, new { @style = "float:left; margin: 15px" })
                        </div>
                        <div class="con-body">
                            <table class="table table-hover table-outline mb-0" style="display: none">
                                <thead class="thead-default">
                                    <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Location</th>
                                        <th>Near</th>
                                        <th>Rate</th>
                                        <th>Survey Date</th>
                                        <th>Picture</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.CustomerDetailList[i].Customers)
                                    {
                                        <tr>
                                            <td>
                                                <div>@item.Description</div>
                                            </td>
                                            <td>@item.Type</td>
                                            <td>@item.Location</td>
                                            <td>@item.Near</td>
                                            <td style="width:350px">
                                              
                                                @if (item.Type == "Publicity Float")
                                                {
                                                    <input type="text" style="width:80px; float:left" disabled value="@item.PublicityFloatCatagory" />
                                                    @Html.DropDownList("floatfre_" + item.Id , new List<SelectListItem>
                                                        {
                                                            new SelectListItem{ Text="Per day", Value = "Per day",Selected = item.BillFrequency == "Per day" },
                                                            new SelectListItem{ Text="Per week" , Value = "Per week",Selected = item.BillFrequency == "Per week" },
                                                            new SelectListItem{ Text="Per 2 Week", Value = "Per 2 Week" ,Selected = item.BillFrequency == "Per 2 Week"},
                                                            new SelectListItem{ Text="Per Month", Value = "Per Month" ,Selected = item.BillFrequency == "Per Month"},
                                                         }, new { @style="float:left;width:100px; margin-left:10px; height:28px", onchange="changefre(this)" })
                                                    var style = (item.BillFrequency == "Per Month") ? "" : "display:none";
                                                    <input type="text" id="floatrate_@item.Id" name="floatrate_@item.Id" style="width:70px; float:left; margin-left:10px;" value="@item.FloatRate" />
                                                    <input type="text" id="floatmonth_@item.Id" name="floatmonth_@item.Id" style="width:30px; float:left; margin-left:10px; @style" value="@item.FloatNumberMonth" />

                                                }
                                                else
                                                {
                                                    <input type="text" name="rate_@item.Id" value="@item.Rates" />
                                                }
                                            </td>
                                            <td>@(item.SurveyDate.HasValue ? item.SurveyDate.Value.ToShortDateString() : "")</td>
                                            @{
                                                string baseUrl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + "/" + HttpContext.Current.Request.ApplicationPath;
                                                string imgPsth = string.Format(baseUrl + "/Images/{0}/{1}.jpg", item.BookNumber, item.SrNo);
                                            }
                                            <td><img src="@imgPsth" width="200" height="100" /> </td>
                                            <td>
                                                <a href="@Url.Action("Edit", new {id = item.RowGuid})" title="Edit"><i class="fa fa-pencil"></i></a>
                                                <a href="#" onclick="deleterec('@item.RowGuid')" title="Delete"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                                }
                                </tbody>

                            </table>
                        </div>
                    </div>

                }


                <h4 style="margin-top:15%">Comments</h4>
                <table class="table table-hover table-outline mb-0">
                    <thead class="thead-default">
                        <tr>
                            <th>Comment</th>
                            <th>User Name</th>
                            <th>Date</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Comments)
                        {
                            <tr>
                                <td>
                                    @item.Comments
                                </td>
                                <td>@item.user.Username</td>
                                <td>@item.CreatedAt</td>
                            </tr>
                        }
                    </tbody>

                </table>

                <div class="form-group col-sm-12" style="margin-top:3%">
                    <label for="name" style="float: left;margin-right: 1%;">Add Comment.</label>
                    <textarea id="txtAr" rows="5" cols="50" name="txtcomments"></textarea>
                </div>
                <div class="form-group col-sm-12">
                    <button type="submit" class="btn btn-sm btn-primary pull-left" name="comment" value="comment"><i class="fa fa-dot-circle-o"></i> Add Comments</button>

                </div>
                <div style="width: 100%; margin-top: 23%; margin-bottom:27%">
                    <button type="submit" class="btn btn-sm btn-primary pull-right"><i class="fa fa-dot-circle-o"></i> Generate Bill</button>
                    <button type="submit" class="btn btn-sm btn-primary pull-right" name="ammement" value="ammement" style="margin-right:10px"><i class="fa fa-dot-circle-o"></i> Generate Ammement Bill</button>
                </div>
            </div>
        </div>

                                                }
</main>
<script type="text/javascript">
    function changecheck(obj)
    {
        if ($(obj).is(":checked")) {
            $("#discountamountpaid").removeAttr("disabled");
        }
        else {
            $("#discountamountpaid").attr("disabled", "disabled");
        
        }
    }
    function changefre(obj)
    {

        var id = $(obj).attr("name").replace("floatfre_", "");
        $.get("GetFloatRate?id=" + id + "&val="+$(obj).val() , function (res) {

            $("#floatrate_" + id).val(res);
        });
       
        if ($(obj).val() == "Per Month") {
            $("#floatmonth_" + id).show();
        }
        else {
            $("#floatmonth_" + id).hide();
        }
    }
    function onNameClick(obj) {
        $(obj).parent().parent().find('table').toggle();
    }
    function deleterec(id)
    {
        if (confirm('are you sure you want to delete record')) {
            location.href = "/Customer/Delete/" + id + "?brand=" + '@brandquery';
        }
        else {
            return false;
        }
    }

</script> 