@model BillBoardsManagement.Models.CstomerDetilPageList
@{
    ViewBag.Title = "Index";
  //  string brand = Request.QueryString["brand"];
}
<style type="text/css">
 
    .con-body {   
          float: left;
        width: 100%;}

    .con-header { 
        float: left;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.15);
        background-color: #f6f8f9;
        color: #636c70;

    }
</style>

<main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        </li>
        <li class="breadcrumb-item active">Customer</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu">
            <div class="btn-group" role="group">
                <a class="btn btn-primary" href="@Url.Action("Edit")"><i class="icon-plus"></i> Add new Customer</a>
            </div>
            <div class="btn-group" role="group">
                <a class="btn btn-primary" href="@Url.Action("UploadExcel")"><i class="icon-plus"></i> Upload Excel File</a>
            </div>
        </li>
    </ol>
    @using (Html.BeginForm("SubmitDetail", "Customer", FormMethod.Post, new { @class = "form-horizontal", role = "form"}))
    {
  
        @Html.HiddenFor(x=>x.Brand, new {value = Model.Brand })
        @Html.HiddenFor(x=>x.Billid, new {value = Model.Billid })
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="input-group global-search">
                        <input type="text" name="global-search" class="form-control" id="search" placeholder="Search" value="@ViewBag.searchQuery">
                        <span class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                    <div style="width: 100%">
                        <div class="col-sm-3">
                            <label for="name" style="float: left;margin-right: 1%;">Address.</label>
                            @Html.TextAreaFor(x=>x.BrandAddress,new {@cols = 40, @rows=5})
                        </div>
                        <div class="col-sm-3">
                            <label for="name" style="float: left;margin-right: 1%;">Traking Number.</label>
                            @Html.TextBoxFor(x=>x.TrakingNumber)
                        </div>
                        <div class="col-sm-3">
                            <label for="name" style="float: left;margin-right: 1%;">Number Month.</label>
                            @Html.TextBoxFor(x=>x.NumberMonth)
                        </div>
                        <div class="col-sm-3">
                            <label for="name" style="float: left;margin-right: 1%;">Shipping Date.</label>
                            @Html.TextBoxFor(x=>x.ShippingDate)
                        </div>
                    </div>
                    <div style="width: 100%">
                        <div class="col-sm-3">
                            @Html.CheckBoxFor(x => x.IsBrand, new { @cols = 40, @rows = 5 })
                            <label for="name" style="float: left;margin-right: 1%;">Is Brand.</label>
                        </div>

                        </div>
                        @*<div class="input-group global-search">
                @Html.DropDownList( "Books", (List<SelectListItem>)ViewBag.booksdd, new { @style = "margin-left:10px",@class="form-control", @onchange="onPageClick(1)",@id="Books" })
            </div>*@
                        @for (int i = 0; i < Model.CustomerDetailList.Count(); i++)
                        {
                            @Html.HiddenFor(x => x.CustomerDetailList[i].CustomerName)
                            @Html.HiddenFor(x => x.CustomerDetailList[i].CustomerId)

                            <div style="width: 100%; margin-top: 10px;">
                                <div class="con-header">
                                    <h6 style="padding: 10px; cursor: pointer; float: left " onclick="onNameClick(this)">@Model.CustomerDetailList[i].CustomerName</h6>
                                    @Html.CheckBoxFor(x => x.CustomerDetailList[i].Selected, new { @style = "float:left; margin: 15px" })
                                </div>
                                <div class="con-body">
                                    <table class="table table-hover table-outline mb-0" style="display: none">
                                        <thead class="thead-default">
                                            <tr>
                                                <th>Name</th>
                                                <th>Type</th>
                                                <th>Brand</th>
                                                <th>Near</th>
                                                <th>Survey Date</th>
                                                <th>Picture</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.CustomerDetailList[i].Customers)
                                            {
                                                <tr>
                                                    <td>
                                                        <div>@item.Description</div>
                                                    </td>
                                                    <td>@item.Type</td>
                                                    <td>@item.Brand</td>
                                                    <td>@item.Near</td>
                                                    <td>@item.SurveyDate</td>
                                                    <td><img src="@(item.Picture != null ? "data:image/png;base64,"+Convert.ToBase64String(item.Picture) : "")" width="100%" height="50%" /> </td>
                                                    <td><a href="@Url.Action("Edit", new {id = item.RowGuid})" title="Edit"><i class="fa fa-pencil"></i></a></td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </div>

                        }


                        <div style="width: 100%; margin: 10px;">
                            <button type="submit" class="btn btn-sm btn-primary pull-right"><i class="fa fa-dot-circle-o"></i> Generate Bill</button>
                        </div>
                    </div>
            </div>
        </div>
    }
</main>
<script type="text/javascript">
    function onNameClick(obj) {
        $(obj).parent().parent().find('table').toggle();
    }

</script>