@using BillBoardsManagement.Models
@using System.Configuration;
@model BillBoardsManagement.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "";

    string region = ConfigurationManager.AppSettings["Region"];

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@region</title>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/simple-line-icons.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
</head>

<body class="app flex-row align-items-center login">
    <div class="container">
        <div style="text-align:center"><b>@region</b></div>
        <div class="row justify-content-center">
         
            <div class="col-md-5">
                <div class="card-group">
                    <div class="card mt-3 mb-3">
                      
                        <div class="card-block">
                            <h3>Sign in</h3>
                          
                            <p class="text-muted">Sign in to your account</p>
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="input-group mb-3">
                                    <span class="input-group-addon">
                                        <i class="icon-user"></i>
                                    </span>
                                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Username" })
                                </div>
                                <div class="input-group mb-4">
                                    <span class="input-group-addon">
                                        <i class="icon-lock"></i>
                                    </span>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                </div>
                                if (ViewBag.Error != null)
                                {
                                <p class="error"><i class="fa fa-exclamation-triangle"></i> Wrong Username/Password. Try again!</p>
                                }
                                <div class="row">
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary px-4">Login</button>
                                    </div>
                                    <div class="col-6 text-right">
                                        <a href="forgot-password.html" class="btn btn-link px-0">Forgot password?</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="py-2">

                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                    
                </div>
               
            </div>
        </div>
    </div>
</body>

</html>
