  @{ 
      string currentUrl = "";
  }
<div class="sidebar">
    <nav class="sidebar-nav">
       
        <ul class="nav">
            <li class="nav-item  @(@currentUrl.Contains("Index") ? "active" : "")">
                <a class="nav-link" href="@Url.Action("Index", "Customer")"><i class="fa fa-credit-card"></i> Dashboard</a>
            </li>
            <li class="nav-item  @(@currentUrl.Contains("BillManagement") ? "active" : "")">
                <a class="nav-link" href="@Url.Action("BillManagement", "Customer")"><i class="fa fa-credit-card"></i> Bills</a>
            </li>
       

        <li class="nav-item  @(@currentUrl.Contains("Account") ? "active" : "")">
            <a class="nav-link" href="@Url.Action("UserList", "Account")"><i class="fa fa-credit-card"></i> User</a>
        </li>
        </ul>


    </nav>
</div>